*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-left: 20%;
    margin-right: 20%;
    
}
.display{
    background-image: url(./images/hands.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

}
.forms{
    margin-top: 15%;
    margin-bottom: 15%;
    align-items: center;
    justify-content: center;
    position: fixed;
    
}
#today{
    margin-top: .2em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: .2em;
    color:goldenrod;
}
.sirname{
    padding: 1em;
    width: 100%;
    justify-content: stretch;
}
.monthdata{
    padding: 1em;
    width: 100%;
    justify-content: stretch;
}
.day{
    padding: 1em;
    width: 100%;
    justify-content: stretch;
}
.old{
    padding: 1em;
    width: 100%;
    justify-content: stretch;
    color:white;
    font-family:cursive;
    font-weight: lighter;

}
.sir{
    padding: .8em;
    width: 100%;
    justify-content: stretch;
}
.year{
    padding: .8em;
    width: 100%;
    justify-content: stretch;
}
.month{
    padding: .8em;
    width: 100%;
    justify-content: stretch;
}
.btn{
    padding: .8em;
    width: 100%;
    justify-content: stretch;
    color: goldenrod;
}
.date{
    padding: .8em;
    width: 100%;
    justify-content: stretch;
}

.heading{
    text-transform: uppercase;
    letter-spacing: .2em;
    color: goldenrod;
    margin-bottom: 1em;
}